aside {
    width: 37%;
    background-color: rgb(230, 230, 230,.4);
    height: 100%;
    position: relative;
    z-index: 5;
}
.asideContent{
    padding : {
        top: 174px;
    }
    margin: 0 7%;
    
}