aside {
    width: 32%;
    background-color: rgb(230, 230, 230,.4);
    height: 100%;
    position: relative;
    z-index: 5;
    overflow: hidden;

    #square4 {
        width: 900px;
        height: 250px;
        background-color: #025a87;
        position: absolute;
        z-index: 1;
        transform: rotate(7deg);
        transform-origin: top left;
        top: -144px;
    }
}
.asideContent{
    padding : {
        top: 175px;
    }
    margin: 0 7%;
    
    ul {
        list-style: none;
        li {
            margin-bottom: 3px;
            font-weight: 500;
        }

        a {
            text-decoration: none;
            color: rgb(61, 61, 61);
        }

        .icones {
            margin-right: 5px;
            width : 13px;
            height: 13px;
        }
    }

    .asideSectionContent {
        padding: 0;
        margin : {
            top : 10px;
            left : 4px;
            bottom: 30px;
        }
        font-size: 10px;
        font-family: System-ui;
        color: rgb(61, 61, 61);

        .skillList {
            display: grid;
            grid-template-columns: 50px 1fr;
            position: relative;
            left: -4px;
            gap: 10px;
            margin-bottom: 10px;
            font-weight: 700;
        }

        .skillItem {
            font-weight: 500;
            font-style: italic;
        }
    }

    .skills ul {
        list-style: circle;
        margin-left: 0;
        padding-inline-start: 16px;
    }

    .interests ul {
        font-size: 11px;

        li {
            display: flex;
            align-items: center;
        }
        .icones {
            padding: 4px;
            margin-right: 10px;
            width: 21px;
            height: 21px;
            border: solid 1px rgb(233, 233, 233);
            background-color:white ;
            border-radius: 20px; 
        }
        .countries {
            font-size: 9px;
            letter-spacing: -.5px;
        }
    }

    .languages {

        .asideSectionContent li{
            font-weight: 700;
        }
        .progressBar {
            display: inline-flex;
            height: 6px;
            width: 80px;
            background: #122636;
            float: right;
            margin-right: 7px;
            margin-top: 4px;
            border-radius: 10px;
    
            &:before {
                content: '';
                background: #0475ad;
                border-radius: 10px;
                opacity: 0;
            }
        }
    
        /*
         *  Progress Bar width
         */
    
        #french:before {
            width: 100%;
            animation: fillBar 2s 4s forwards;
        }
    
        #english:before {
            width: 80%;
            animation: fillBar 2s 5s forwards;
        }
    
        #arab:before {
            width: 40%;
            animation: fillBar 2s 6s forwards;
        }
    
        #spanish:before {
            width: 60%;
            animation: fillBar 2s 7s forwards;
        }
    }

}

@keyframes fillBar {
    from {
        width: 0;
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}