@font-face {
    font-family: "CentralLight"; 
    src: url("../../assets/fonts/Central W01 Light.woff") format("woff"), 
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.chooseLanguage {
    position: absolute;
    left: 0;
    z-index: 10;
    background: #122636;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
}

.listLanguages {
    display: flex;
    gap: 400px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#divBoxFrench {
    top : 75px;
    animation: translateFrench 2s ;
}

#divBoxEnglish {
    bottom : 75px;
    animation: translateEnglish 2s ;
}

.divBox {
    position: relative;
    cursor: pointer;
    transition: .5s;

    #boxTriangleFrench {
        position: absolute;
        left: -114px;
        bottom: -50px;
        transform: rotate(22deg);
    }

    #boxTriangleEnglish {
        position: absolute;
        left: -155px;
        bottom: -95px;
        transform: rotate(-160deg);
    }

    .lineBottom {
        position: absolute;
        bottom: 1px;
        left: 7px;
        width: 404px;
        height: 0.5px;
        background: #a4a4a4;
        box-shadow: #c8c8c8 0 0 5px 2px;
        transition: .5s;
    }

    .triangle {
        position: relative;
        width: 420px;
        height: 208px;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            top: 81px;
            left: 58px;
            width: 335px;
            height: 288px;
            transform: rotate(45deg);
            border-bottom-color: #000;
            box-shadow: #c8c8c8 0 0 6px 2px inset, #c8c8c8 0 0 6px 2px;
            transition: .2s;
        }
    }

    &:hover {
        .lineBottom {
            box-shadow: white 0 0 5px 2px;
            transition: .2s;
        }

        .triangle {
            &::before {
                box-shadow: white 0 0 6px 2px inset, white 0 0 6px 2px;
                transition: .2s;
            }
        }

        .language {
            color: white;
            transition: .2s;
            text-shadow: white 0px 0px 3px;
        }
    }
    .language {
        color : rgb(197, 197, 197);
        font-family: CentralLight;
        font-size: 35px;
        position: relative;
        z-index: 5;
    }
}

@keyframes translateFrench {
    from {
        transform: translate(-150vw, 100vh);
    }
    50% {
        transform: translate(40vw, -30vh);
    }
}

@keyframes translateEnglish {
    from {
        transform: translate(150vw, -100vh);
    }
    50%{
        transform: translate(-40vw, 30vh);
    }
}

@keyframes disapearChooseLanguageMenu {
    100% {
        opacity: 0;
    }
}

@keyframes languageChoosed {
    50% {
        transform: scale(1.1);
    }
}
