@font-face {
    font-family: "CentralLight"; 
    src: url("../../assets/fonts/Central W01 Light.woff") format("woff"), 
}

html,body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.chooseLanguage {
    position: absolute;
    left: 0;
    z-index: 10;
    background: #122636;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    opacity: 1;
}

.listLanguages {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#divBoxEnglish {
    bottom : 75px;
    animation: translateEnglish 2s ;
}

.divBox {
    position: relative;
    cursor: pointer;
    transition: .5s;

    #boxTriangleFrench {
        position: absolute;
        transform: rotate(22deg);
    }

    #boxTriangleEnglish {
        position: absolute;
        transform: rotate(-160deg);
    }

    .lineBottom {
        position: absolute;
        height: 0.5px;
        background: #a4a4a4;
        box-shadow: #c8c8c8 0 0 5px 2px;
        transition: .5s;
    }

    .triangle {
        position: relative;
        overflow: hidden;
        &::before{
            content: "";
            position: absolute;
            transform: rotate(45deg);
            border-bottom-color: #000;
            box-shadow: #c8c8c8 0 0 6px 2px inset, #c8c8c8 0 0 6px 2px;
            transition: .2s;
        }
    }

    &:hover {
        .lineBottom {
            box-shadow: white 0 0 5px 2px;
            transition: .2s;
        }

        .triangle {
            &::before {
                box-shadow: white 0 0 6px 2px inset, white 0 0 6px 2px;
                transition: .2s;
            }
        }

        .language {
            color: white;
            transition: .2s;
            text-shadow: white 0px 0px 3px;
        }
    }
    .language {
        color : rgb(197, 197, 197);
        font-family: CentralLight;
        position: relative;
        z-index: 5;
    }
}

@media (min-width:1100px) {

    .listLanguages {
        gap: 400px;
    }

    #divBoxFrench {
        top : 75px;
        animation: translateFrench 2s ;
    }
    
    #divBoxEnglish {
        bottom : 75px;
        animation: translateEnglish 2s ;
    }

    #boxTriangleFrench {
        left: -114px;
        bottom: -50px;
    }

    #boxTriangleEnglish {
        left: -155px;
        bottom: -95px;
    }

    .lineBottom {
        left: 7px;
        width: 404px;
        bottom: 1px;
    }

    .triangle {
        width: 420px;
        height: 208px;
        &::before{
            top: 81px;
            left: 58px;
            width: 335px;
            height: 288px;
        }
    }

    .language {
        font-size: 35px;
    }
}

@media (min-width:800px) and (max-width:1099px) {
    .listLanguages {
        gap: 190px;
    }

    #divBoxFrench {
        top : 75px;
        animation: translateFrench 2s ;
    }
    
    #divBoxEnglish {
        bottom : 75px;
        animation: translateEnglish 2s ;
    }

    #boxTriangleFrench {
        left: -120px;
        bottom: -48px;
    }

    #boxTriangleEnglish {
        left: -170px;
        bottom: -120px;
    }

    .lineBottom {
        left: 23px;
        width: 373px;
        bottom: 1px;
    }

    .triangle {
        width: 420px;
        height: 208px;
        &::before{
            top: 99px;
            left: 58px;
            width: 335px;
            height: 288px;
        }
    }

    .language {
        font-size: 31px;
    }
}

@media (min-width:551px) and (max-width:799px) {
    .listLanguages {
        gap: 100px;
    }

    #divBoxFrench {
        top : 75px;
        animation: translateFrench 2s ;
    }
    
    #divBoxEnglish {
        bottom : 75px;
        animation: translateEnglish 2s ;
    }

    #boxTriangleFrench {
        left: -111px;
        bottom: -42px;
    }

    #boxTriangleEnglish {
        left: -174px;
        bottom: -128px;
    }

    .lineBottom {
        left: 59px;
        width: 299px;
        bottom: 1px;
    }

    .triangle {
        width: 420px;
        height: 208px;
        &::before{
            top: 135px;
            left: 58px;
            width: 335px;
            height: 288px;
        }
    }

    .language {
        font-size: 29px;
    }
}

@media (max-width:550px) {
    .listLanguages {
        flex-direction: column;
        gap: 300px;
    }

    #divBoxFrench {
        left: 25px;
        top : 70px;
        animation: mobileTranslateFrench 2s ;
    }
    
    #divBoxEnglish {
        right: 25px;
        bottom : 70px;
        animation: mobileTranslateEnglish 2s ;
    }

    #boxTriangleFrench {
        left: -112px;
        bottom: -37px;
    }

    #boxTriangleEnglish {
        left: -183px;
        bottom: -141px;
    }

    .lineBottom {
        left: 81px;
        width: 255px;
        bottom: 0;
    }

    .triangle {
        width: 420px;
        height: 208px;
        &::before{
            top: 130px;
            left: 108px;
            width: 215px;
            height: 196px;
        }
    }

    .language {
        font-size: 26px;
    }
}


/* KEYFRAMES */ 

@keyframes mobileTranslateFrench {
    from {
        transform: translate(80vw, -100vh);
    }
    50% {
        transform: translate(-20vw, 25vh);
    }
}

@keyframes mobileTranslateEnglish {
    from {
        transform: translate(-80vw, 100vh);
    }
    50%{
        transform: translate(20vw, -25vh);
    }
}

@keyframes translateFrench {
    from {
        transform: translate(-150vw, 100vh);
    }
    50% {
        transform: translate(40vw, -30vh);
    }
}

@keyframes translateEnglish {
    from {
        transform: translate(150vw, -100vh);
    }
    50%{
        transform: translate(-40vw, 30vh);
    }
}

@keyframes disapearChooseLanguageMenu {
    100% {
        opacity: 0;
    }
}

@keyframes languageChoosed {
    50% {
        transform: scale(1.1);
    }
}
