
main {
    float: right;
    width: 63%;
    height: 100%;
    position: relative;
    z-index: 6;
}

header {
    font-family: "CentralLight";
    color: rgb(212, 212, 212);
    text-align: center ;
    
    margin : {
        top: 20px;
        left : 20px;
        right : 20px;
    }
    padding: 15px;
    border : solid rgb(197, 197, 197) 1px;
    transition: all .5s;
    
    h2 {
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    h5 {
        font-size : 13px;
        color: rgb(167, 167, 167);
        font-weight: normal;
    }
}

.mainContent {
    margin: 73px 5% 0 5%;
    width: 90%;
}

.titleSection {
    border-bottom: solid 2px rgb(138, 138, 138);
    display:flex;
    padding-bottom: 5px;
    color: #222222;

    h5{
        font-size: 14px;
        margin-left: 6px ;
    }
}

.mainSectionContent {
    margin:20px 5px ;
    .articleInformation {
        font-size: 11px;
        font-family: System-ui;
        letter-spacing: -.2px;
    }

    .article {
        margin-bottom: 15px;
    }

    .articleDescription {
        font-family: system-ui;
        font-size: 9px;
    }
}