
main {
    float: right;
    width: 68%;
    height: 100%;
    position: relative;
    z-index: 6;
}

header {
    font-family: "CentralLight";
    color: rgb(212, 212, 212);
    text-align: center ;
    
    margin : {
        top: 20px;
        left : 20px;
        right : 20px;
    }
    padding: 15px;
    border : solid rgb(197, 197, 197) 1px;
    transition: all .5s;

    h2 {
        font-size: 32px;
        margin-bottom: 10px;
        font-weight: normal;
    }

    h5 {
        font-size : 13px;
        color: rgb(167, 167, 167);
        font-weight: normal;
    }
}

.container {
    margin: 55px 5% 0 5%;
    width: 90%;
}

.titleSection {
    border-bottom: solid 2px rgb(138, 138, 138);
    display:flex;
    padding-bottom: 5px;
    color: #222222;

    h5{
        font-size: 16px;
        margin-left: 6px ;
    }
}

#education {
    margin-top: 20px;
}

.mainSectionContent {
    margin:20px 5px ;

    .date {
        color: #002b41b0;
        font-size: 11px;
    }

    .articleTitle {
        font-size: 13px;
        margin-bottom: 5px;
    }

    .contenu {
        border-left: solid 1px #0651774b;    
    }

    .articleInformation {
        font-size: 12px;
        font-family: System-ui;
        letter-spacing: -.2px;
        padding-bottom: 5px;
    }

    .articleSubTitle {
        font-style : italic;
        font-family: System-ui;
        font-size: 11px;
        margin-bottom: 15px;
    }

    ul {
        padding-inline-start: 20px ;
        list-style-type: circle;
        margin-bottom: 15px;
    }

    .description {
        font-family: system-ui;
        font-size: 10px;
        li {
            font-size: 9px;
            line-height: 13px;
        }
    }

    .missionTitle {
        font-family: system-ui;
        font-size: 10px;
        margin-left: 5px;
        margin-bottom: 3px;
    }
}